@font-face {
    font-family: starwars;
    src: url("./assets/Starjedi.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: starwars;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

audio {
    opacity: 0;
    position: absolute;
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1) !important;
    background-image: url("./assets/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.3);
}

h1 {
    text-align: center;
    background-clip: text !important;
    z-index: 99;
    font-size: 9rem;
    background: url("./assets/saga.jpg") no-repeat center center/contain;
    /* -webkit-background-clip: text; */
    color: transparent;
    overflow-wrap: normal;
    animation: text 15s linear forwards 0.5s, gone 3s forwards 15s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.3rem;
    height: 100%;
    /* width: 100%; */
    overflow: visible;
    -webkit-text-stroke-color: yellow;
}

p {
    /* height: 100%; */
    width: 100%;
    text-align: center;
}

.p {
    margin-bottom: -7.7rem;
}

@keyframes text {
    from {
        font-size: 50rem;
    }

    to {
        font-size: 9rem;
    }
}

@keyframes gone {
    0% {
        -webkit-text-stroke-width: 0;
        background-image: url("./assets/saga.jpg")
    }

    100% {
        -webkit-text-stroke-width: 1px;
        background: transparent;
    }
}

.saber-hold {
    z-index: 100;
    position: absolute;
    height: 0rem;
    opacity: 0;
    width: 1.4rem;
    border-bottom: solid 1.6rem #333;
	border-top: solid 0.8rem #333;
    border-radius: 5px;
    background: linear-gradient(to right, #333, black, #ccc, black, #333); 
    bottom: 24.5%;
    animation: saberhold 2s forwards 15s;
}

@keyframes saberhold{
    0% {
        height: 0rem;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }
    
    100% {
        height: 6.5rem;
        opacity: 1;
    }
}

.saber {
    position: absolute;
    z-index: 99;
    width: 1rem;
    background-color: red;
    animation: on 5s forwards 17s;
    transform-origin: bottom;
    bottom: 25.5%;
    border-radius: 12px 12px 0 0;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    background: linear-gradient(to right, rgba(239,17,21,1) 0%,rgba(204,204,204,1) 50%,rgba(239,17,21,1) 100%);
    box-shadow: 0 0 10px rgba(239,17,21,1);
}

@keyframes on {
    0% {
        height: 0;
    }

    100% {
        height: 30rem;
    }
}

img {
    position: absolute;
    opacity: 0;
    animation: fade-in 5s forwards 17s;
    padding-left: 0.5rem;

}

@keyframes fade-in{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}